/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}




/* Mobile First CSS: we'll design for phone sizes first, then add media queries for tablets and desktop computers later */

body {
	
	background: lavender 
}


#container {
	 display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

main {
    font-size: 20px;
    color: lightblue; /* Or another readable color */
    max-width: 800px;
    padding: 20px;
}

header h1{
    font-size: 7vw;
    font-family: "Delicious Handrawn" , serif;
     font-weight: 400;
  font-style: normal;
}
header h2{
    font-size: 3vw;
    font-family: "Delicious Handrawn" , serif;
     font-weight: 300;
  font-style: normal;
}
header,footer{
 
 color:white;
padding: 1em;
}

main figure{
    margin:0px;
    width: 300px;
    
}




header img{
    width:100%
}

nav ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: center; /* Centers the navigation */
    gap: 10px;
    flex-direction: row-reverse;/* Adds space between items */
}

nav ul li {
    border: 1px solid black;
    padding: 5px 10px; /* Adds spacing inside each nav item */
}

nav ul li a {
    border: 1px solid red;
    display: block;
    text-decoration: none; /* Removes underlines */
    color: black;
    padding: 5px 10px;
}



/* Class for making YouTube/Vimeo videos responsive */

figure.responsive {
    position: relative;
    padding-bottom: 56.25%;  /* 16:9 */
    height: 0px;
    overflow: hidden;
    max-width: 100%;
}

figure.responsive iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}



/* A better looking default horizontal rule */
hr {
    display: block;
    height: 1px;
    border: 0px;
    border-top: 1px solid #ccc;
    margin: 1em 0px;
    padding: 0px;
}



/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */

/* Minimum width for portrait tablets and large phone screens.  */
@media all and (min-width: 481px) {
	
	
	
	
} /* closes 600px+ */



/* Minimum width for landscape laptops. */
@media all and (min-width: 769px) {
nav ul {
        flex-wrap: wrap;
    flex-direction: row-reverse;
    }
    
    nav li {
        flex: 1 1 175px;
        text-align: center; /* Ensures text stays centered */
    }

    #pizza {
        display: flex;
    }

    nav {
        flex: 1;
    }

    main {
        flex: 2;
    }
}	
   
    
    
    
    * closes 768px+ */



/* Minimum width for larger tablets, laptops and desktops. */
@media all and (min-width: 1024px) {
	
	
	
	
} /* closes 992px+ */



/* Minimum width for larger desktops. */
@media all and (min-width: 1200px) {
	
	
	
	
} /* closes 1200px+ */



